.Catalog{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  margin: auto;
  &__manga-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  }
  &__filter{

  }
}