.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        background-color: #007BFF;
        color: #0b0a0a;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 80px;
        display: block; /* Убедитесь, что кнопка отображается */
        margin-bottom: 20px;
    }

    button:hover {
        background-color: #0056b3;
    }

    button:focus {
        outline: none;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

}



.login, .password {
    width: 100%;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}
.mail {
    width: 100%;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    opacity: 0; /* Изначально скрыт */
    transform: translateY(-20px); /* Элемент сдвигается вверх */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавное изменение */
}

.mail.show {
    opacity: 1; /* Элемент становится видимым */
    transform: translateY(0); /* Возвращаем в исходное положение */
}



p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box; /* Чтобы учитывать паддинг в ширине */
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF; /* Изменение цвета рамки при фокусе */
}

.login input, .password input, .mail input {
    margin-top: 5px; /* Отступ сверху */
}

