.Create {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.error{
    color: red;
}
h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #555;
    margin-bottom: 4px;
    font-weight: bold;
}
.preview-image-container {
    margin-top: 10px;
}

.preview-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="text"],
textarea,
input[type="file"],
.select__control {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 8px;
    margin-top: 20px;
}
.button-delete{
    padding-right:10px;
}
.chapter {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-right: 10px;
}
.image-preview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.preview-image {
    width: 100px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.remove-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10px;
}
.preview-image-container {
    margin-top: 10px;
}

.preview-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



.frame {
    margin-top: 10px;
}

.remove-image-button:hover {
    background-color: #c9302c;
}

button[type="button"] {
    display: inline-block;
    padding: 8px 12px;
    margin: 10px 0;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #444;
}

button[type="submit"] {
    padding: 10px 14px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #222;
}

button.remove-button {
    background-color: #d9534f;
    margin-left: 10px;
}

button.remove-button:hover {
    background-color: #c9302c;
}
/* Стили для списка выбора (React Select) */
.select__control {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.select__placeholder {
    color: #777;
}

.select__multi-value {
    background-color: #333;
    color: #fff;
}

.select__multi-value__label {
    color: #fff;
}

.select__multi-value__remove:hover {
    background-color: #555;
    color: #fff;
}
