.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.toggle-button {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: left 0.3s ease;
}

.left {
    left: 1px;
}

.right {
    left: 31px;
}

.active {
    font-weight: bold;
}
