.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
    justify-items: center;
    width: 80%;
    margin:auto;
}
.tags-filter{
    margin-left:10%;
    margin-top:20px;
    button{
        margin-right:15px;
    }
}
.top-header{
    margin-left:10%;
}
.top-header {
    margin-left: 10%;
    display: flex;
    gap: 20px;
    position: relative;
    h2{
        font-size: 2rem;
    }
}

.top-header button {
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    color: #333;
    font-weight: bold;
}

.top-header button.active {
    color: #000; /* Цвет активной кнопки */
}

.top-header button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px; /* Толщина подчёркивания */
    width: 100%;
    background: transparent;
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}

.top-header button.active::after {
    background: #000; /* Цвет подчёркивания активной кнопки */
    transform: scaleX(1); /* Включает видимость подчёркивания */
}

.top-header button:not(.active)::after {
    transform: scaleX(0); /* Отключает подчёркивание у неактивных кнопок */
}
