@mixin justify-center{
  display:grid;
  justify-content: center;
  margin:auto;
}
header{
  background-color: #ffffff;
  width: 100%;
}
.header{
  height: 10%;
  width: 95%;
  @include justify-center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  &__button{
    color: white;
    padding: 10%;
    border:2px solid var(--background-color);
    border-radius:10px;
    width:fit-content;
    background-color: darken(#6c757d,10);
    &:hover{
      border:2px solid #007bff;
    }
  }

  &__navigation{
    &--2{
      display: flex;
      justify-content: flex-end;
      margin-right: 1vw;
    }

    ul{
      display: flex;
      flex-direction: row;
      align-items: center;

      li{
        margin-left:2vw;
      }

    }

  }


}