/* Header.css */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #fff; /* Фон хедера */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для хедера */
}

.logotip {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logotip p {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.search {
    width: 30px;
    cursor: pointer;
}

.search-input {
    width: auto;
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 20px;
    border: 1px solid #535bf2;
    outline: none;
    background-color: transparent;
    height: 20px;
    margin: auto;
    display: flex;
    align-items: center;
}

.search-input.show {
    width: 150px;
    opacity: 1;
}

.personal_account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
}

.account_logo,
.create_manga {
    width: 50px;
    margin: 10px 5px;
}

/* Бургер-меню */
.burger-menu {
    display: none; /* Скрываем бургер на десктопе */
}

.burger {
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Цвет иконки бургера */
}

.navigation {
    display: flex;
    gap: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .burger-menu {
        display: block; /* Показываем бургер */
    }

    .navigation {
        display: none; /* Скрываем навигацию по умолчанию */
        position: fixed;
        top: 0;
        right: -100%; /* Выносим за пределы экрана */
        width: 80%;
        height: 100%;
        background-color: #333;
        color: white;
        flex-direction: column;
        padding: 20px;
        transition: right 0.3s ease;
        z-index: 1000; /* Убедимся, что меню поверх остального контента */
    }

    .navigation.active {
        right: 0; /* Показываем меню */
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .nav-item a {
        color: white; /* Цвет ссылок в меню */
        font-size: 18px; /* Размер шрифта */
        padding: 10px 0; /* Отступы между пунктами меню */
    }

    .logotip .navigation {
        display: none; /* Скрываем ссылки из логотипа */
    }
}