* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Optima, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background-color: var(--background-color);
}

:root {
  --primary-color: #3c5a7a;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
}
