.vertical-manga-card{
  height: 300px;
  padding: 1%;
  width:auto;
  border-radius: 5px;
  background-color: var(--background-color) ;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    margin-left: 2%;
    height: 10%;
  }
  &__icon{

  }
  &__img{
    height:70%;
    border-radius: 1%;
    margin-top:0;
    margin-inline:3%;
  }
  &__info{
    display: flex;
    flex-direction: row;
    font-family:Arial Narrow, sans-serif;
    color: grey;
  }
}


.horizontal-manga-card{
  height: 30vh;
  width: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  &__img{
    height: 100%;
    padding-top:2.5%;
    padding-bottom:2.5%;
  }
  &__info{
    height: 100%;
    padding-top:7%;

  }
  &__stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
      width:60px;
    }
  }
}
.horizontal-low-info-manga-card{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color:var(--background-color);

    &__info {
      align-self: center;
      margin-left: 2%;

      :first-child {
        margin-bottom: 5%;
      }

      :nth-child(2) {
        font-family: Arial Narrow, sans-serif;
        color: grey;
      }
    }

    img {
      height: 95%;
      margin: 1% 0 1% 3%;
      border-radius: 5px;
    }

}