.vertical-manga-card{
  min-height: 30vh;
  height: 300px;
  padding: 1%;
  width:auto;
  min-width: 15vw;
  max-width: 40vw;
  p{
    margin-left: 2%;
  }
  &__icon{

  }
  &__img{
    margin: 2.5%;
    height:70%;
  }
  &__info{
    display: flex;
    flex-direction: row;
    font-family:Arial Narrow, sans-serif;
    color: grey;
  }
}