.manga-carousel {
    width: 100%; /* Карусель занимает всю ширину экрана */
}

.manga-card {
    width: 195px; /* Ширина карточки */
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #213547;
}

.manga-card img {
    width: 100%; /* Картинка полностью занимает ширину карточки */
    height: auto;
}
